@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
 :root {
    --primary: #f2f2f2;
    --secondary: #fa9db7;
    --font: 'Nunito ', sans-serif;
    --font2: 'Mulish', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-flex;
}

header {
    width: 100vw;
    height: 120px;
    padding: 10px 0px;
    background-color: var(--primary);
    position: sticky;
    top: 0px;
    z-index: 1;
}

header .container {
    max-width: 1140px;
    /* height: 100px; */
    margin: auto;
    font-family: var(--font2);
}

.container nav {
    width: 100%;
    height: 100px;
    padding: 0px 10px;
    display: flex;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 86px;
}

.brand-name h3,
h1 {
    text-align: center;
    padding: 0px 10px;
    margin: 0px;
    font-weight: bolder;
    color: var(--secondary);
}

.brand-name h3 {
    margin-top: 20px;
    color: rgb(9, 9, 82);
}

.menu {
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0px 30px;
    margin: 0px;
    display: flex;
    font-size: 16px;
}

.menu ul li {
    padding: 0px;
    margin: 0px;
}

.menu ul li a {
    padding: 10px 23px;
    font-weight: bold;
    color: rgb(9, 9, 82);
    text-transform: uppercase;
    transition: 500ms;
    display: inline-block;
}

.menu .menu-link:hover {
    background-color: #ffc85b;
    border-radius: 4px;
    color: #fff;
}

.dropdown {
    position: absolute;
    width: 250px;
    min-height: 100px;
    display: none;
}

.dd-second {
    width: 425px;
}

.menu li:hover .dropdown {
    display: block;
}

.dropdown .dd-menu {
    /* border: 2px dashed white; */
    list-style: none;
    padding: 0px;
    background-color: #fffafc;
    border-radius: 10px;
}

.dropdown .dd-main {
    padding: 60px 0px;
}

.dropdown .dd-menu li {
    /* background-color: #fa9db7; */
    margin: 10px;
    border: 2px dashed var(--secondary);
    border-radius: 10px;
    width: 100%;
}

.dropdown .dd-menu li .dd-link {
    line-height: 1.8;
    font-weight: 900;
    width: 100%;
}

.dropdown .dd-menu li .dd-link:hover {
    background-color: none;
    color: #ffc85b;
}

.cart {
    width: 10%;
    height: 100px;
    padding-left: 14px;
    display: flex;
    align-items: center
}

.cart div {
    width: 50px;
    height: 50px;
    border: 2px dashed var(--primary);
    border-radius: 50%;
    padding-left: 7px;
    padding-top: 7px;
    background-color: var(--secondary);
}

.cart a {
    color: var(--primary);
    font-size: 32px;
    text-align: center;
    /* line-height: 3; */
}

.section {
    background-image: url('../images/image1.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 550px;
    padding: 100px 0px 140px 0px;
    /* margin-bottom: 5px; */
}

.container {
    max-width: 1140px;
    min-height: 100px;
    margin: auto;
    font-family: var(--font);
}

.hero {
    width: 100%;
    padding: 0px 20px;
}

.content {
    width: 50%;
    padding: 10px;
}

.content h3 span {
    background-color: skyblue;
    color: white;
    border-radius: 4px;
    padding: 5px 0px;
}

.content h2 {
    font-size: 80px;
    font-weight: bolder;
    color: rgb(9, 9, 82);
    margin: 0px;
}

.content p {
    font-size: 18px;
    color: gray;
    line-height: 2;
    padding-bottom: 32px;
}

.read-more a {
    text-transform: capitalize;
    /* border: 1px solid #ffc85b; */
    padding: 16px 44px;
    border-radius: 32px;
    background-color: #ffc85b;
    color: #fff;
    font-weight: 900;
    transition: 500ms;
    font-size: 18px;
}

.read-more a:hover {
    background-color: skyblue;
}

.two {
    background-color: rgb(248, 237, 237);
    background-image: none;
    padding: 50px 0px 50px 0px;
}

.happy-kids {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


/* .content {
border: 2px dashed var(--secondary);
border-radius: 20px;
} */

.happy-kids .border {
    position: relative;
    border: 2px dashed var(--secondary);
    border-radius: 25px;
    height: 400px;
    width: 50%;
}

.img {
    width: 100%;
}

.content img {
    width: 540px;
    border-radius: 32px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.entertainment {
    padding-left: 72px;
}

.entertainment h2 {
    font-size: 40px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    line-height: 59px;
}

.entertainment h2 span {
    background-image: linear-gradient(to top, rgba(250, 157, 183, .5), rgba(250, 157, 183, 0.5));
    background-size: 100% 20px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 12px;
    letter-spacing: 1.5px;
}

.entertainment h3 {
    font-size: 40px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.entertainment h3 .span {
    background-image: linear-gradient(to top, rgba(250, 157, 183, .5), rgba(250, 157, 183, 0.5))!important;
    background-size: 100% 23px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 12px;
    background-color: none!important;
    letter-spacing: 1.5px;
}

.entertainment p {
    margin: 16px 0px;
}

.three {
    background-image: url('../images/baby1.jpg');
    padding: 150px 0px;
}

.row {
    padding: 0px 20px;
    width: 100%;
    /* display: flex; */
}

.heading .nanny-agency {
    margin-bottom: 40px;
}

.heading h2 span {
    background-color: #fa9db7;
    display: inline-block;
    border-radius: 15px;
    font-size: 41px;
    padding: 5px 10px;
    margin-bottom: 15px;
    color: white;
    font-weight: 800;
}

.heading h2 .nanny {
    background-color: #79c8e8;
}

.block {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.contact a i {
    font-size: 60px;
    color: #fa9db7;
}

.contact h4 {
    font-size: 28px;
    color: rgb(9, 9, 71);
    transition: 500ms;
}

.contact h4:hover {
    color: #fa9db7;
}

.four {
    background-color: #233668;
    padding: 120px 0px 150px;
    position: relative;
}

.row-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.container .col-left,
.col-right {
    width: 50%;
    padding: 0px 15px;
}

.col-left,
.col-right {
    width: 50%;
}

.col-left h3 {
    margin-bottom: 8px;
}

.col-left h3 span {
    background-color: #45b3df;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
}

.col-left h2 {
    font-size: 72px;
    font-weight: 701;
    color: white;
    line-height: 1.3;
    margin-bottom: 1.6px;
    text-transform: capitalize;
}

.sec4-link a {
    margin-top: 28px;
}

.col-right {
    text-align: center;
}

.col-right img {
    width: 550px;
    object-fit: contain;
    border-radius: 32px;
}


/* image going out of the div and the object fit property doesn't work */

.svg {
    background-image: url('../images/wave.svg.svg');
    background-size: cover;
    background-position: 50% 70%;
    width: 100%;
    height: 100px;
    /* transform: rotateX(180deg); */
    position: absolute;
    bottom: 0;
}

.five {
    padding: 75px 0px;
    background-color: #fff;
}

.row-course {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec5-course {
    width: 665px;
    padding: 0px 10px;
}

.sec5-course h2 {
    text-transform: capitalize;
    font-size: 44px;
}

.sec5-course h2 span {
    background-image: linear-gradient(to top, rgba(250, 157, 183, 0.5), rgba(250, 157, 183, 0.5));
    background-size: 100% 25px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0px 10px;
    color: #12265a;
}

.sec5-course h2 .span-programs {
    background-image: linear-gradient(to top, rgba(255, 200, 91, 0.5), rgba(255, 200, 91, 0.5));
}

.six {
    padding: 45px 0px;
}

.sec6-row {
    text-align: center;
    width: 100%;
}

.sec6-row p {
    color: #70747fd9;
    margin-top: 32px;
    line-height: 2;
    font-size: 18px;
}

.history-link {
    display: flex;
    list-style: none;
    position: relative;
}

.history-link li a {
    display: block;
    padding: 10px 15px;
    color: #12265a;
    transition: 500ms;
    text-transform: capitalize;
    font-weight: 700;
}

.before-point::before {
    content: '';
    position: absolute;
    background-color: #45b3df;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    inset: 16px 0px 0px 112px;
}

.history-link li a:hover {
    color: #fa9db7;
}

.history h2 {
    font-size: 50px;
    text-transform: capitalize;
    color: #12265a;
}

.eight {
    padding: 90px 0px;
}

.cont-eight {
    min-height: auto;
}

.sec8-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.photo-gallery h2 span {
    background-image: linear-gradient(to top, rgba(250, 157, 183, 0.5), rgba(250, 157, 183, 0.5));
    background-size: 100% 25px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0px 10px;
    font-size: 45px;
    text-transform: capitalize;
    color: #12265a;
}

.nine {
    padding: 90px 0px 60px;
}

.sec9-row {
    text-align: center;
}

.sec9-blocks {
    width: 100%;
}

.sec9-blocks h2 span {
    font-size: 45px;
}

.ten {
    padding: 60px 0px;
}

.row-sec10 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sec10-col {
    width: 33.333%;
}

.live-demo img {
    width: 362px;
    border-radius: 32px;
}

.live-demo-h2 h2 a {
    font-size: 29px;
    color: #12265a;
    padding-top: 32px;
    transition: 500ms;
    /* text-transform: capitalize; */
}

.live-demo-h2 h2 a:hover {
    color: #fa9db7;
}

.live-demo-link {
    padding-top: 10px;
}

.live-demo-link a span:hover i {
    transform: rotateZ(180deg);
}

.live-demo-link a {
    color: #fa9db7;
    font-size: 18px;
    text-transform: uppercase;
    align-items: center;
}

.live-demo-link a span i {
    font-size: 32px;
    transition: 250ms;
}

.eleven {
    padding-bottom: 90px;
}

footer {
    background-color: #1742af;
    background-image: url('../images/9496304.png');
    /* opacity: 0.8; */
    /* mix-blend-mode: hard-light; */
    object-fit: cover;
    width: 100vw;
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: bottom;
    padding: 50px 0px;
    /* transform: rotateX(180deg); */
}

footer .container {
    height: auto!important;
    min-height: 0px;
    position: relative;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    font-size: 18px;
    color: rgb(187, 178, 238);
    line-height: 2;
    /* transform: rotateX(180deg); */
}

.footer-content p a {
    color: #f2f2f2;
    text-decoration: underline;
}