@media screen and (min-width:994px) and (max-width: 1139px) {
    header .container {
        padding: 0px 16px;
    }
    section .container {
        padding: 0px 16px;
    }
    .container nav {
        padding: 0px 0px;
    }
    .logo {
        width: 18%;
    }
    .logo img {
        width: 100px
    }
    section {
        padding: 180px 0px!important;
        background-position: top;
    }
    .hero {
        padding: 0px;
    }
    .content {
        width: 80%;
    }
    .content h3 span {
        padding: 8px 6px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .content p {
        margin-bottom: 20.8px;
    }
    .read-more a {
        padding: 18px 50px;
    }
    .happy-kids .border {
        position: relative;
        border: 2px dashed var(--secondary);
        border-radius: 25px;
        height: 400px;
        width: 80%;
    }
    .content img {
        width: 460px;
    }
    .read-more a::before {
        content: '';
        position: absolute;
        width: 170px;
        height: 40px;
        border: 2px dashed #fff;
        border-radius: 18px;
        top: 5px;
        left: 4px;
        visibility: hidden;
    }
}